﻿<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>The Bruntouchables</title>
    <link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-resource/angular-resource.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="lib/angular-resource/angular-resource.js"></script>
    <script src="app.js"></script>
    <base href="/" />
</head>
<body ng-cloak>
    <navbar></navbar>
    <div class="container">
        <ng-view></ng-view>
    </div>
</body>
</html>