<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Type</th>
            <th>Date Published</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="book in books">
            <td>{{book.Title}}</td>
            <td>{{book.Author}}</td>
            <td>{{book.Type}}</td>
            <td>{{book.DatePublished|date:"dd/MM/yyyy"}}</td>
            <td>${{book.Price | currency : 2}}</td>
        </tr>
    </tbody>
</table>
